<div class="w3-container w3-content w3-center w3-padding-64">
  <h1 class="w3-wide"><i class="fa fa-music w3-margin-right"></i>Music Gigs</h1>

<h3>A Place for Bands and Venues</h3>

<div class="w3-row-padding w3-center w3-margin-top">
<a href="/venues">  
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Venues</h3><br>
  <i class="fa fa-microphone w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Find live music venues</p>
  <p>See upcoming events</p>
  <p>Get you band booked</p>
  <p>Add your venue and events</p>
  </div>
</div>
</a>

<a href="/bands">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Bands</h3><br>
  <i class="fa fa-users w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Find new music</p>
  <p>Connect with bands and fans</p>
  <p>Book your favorite bands</p>
  <p>Add your band</p>
  </div>
</div>
</a>

<a href="/users/edit">
<div class="w3-third">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Account</h3><br>
  <i class="fa fa-cog w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
  <p>Sign up</p>
  <p>Login</p>
  <p>Connect</p>
  <p>Book Gigs</p>
  </div>
</div>
</a>
</div>